@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

body {
  background-color: #f8fafb;
}

.App{
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.user-container{
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border-radius: 8px;
  background-color: white;
  box-sizing: border-box;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.profile-background {
  min-height: 15vh;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,0.7987570028011204) 0%, rgba(9,46,121,0.8547794117647058) 25%, rgba(106,5,173,0.7497373949579832) 57%, rgba(0,212,255,0.742734593837535) 100%);
}

.general-info {
  margin-left: 2rem;
  padding-bottom: 1rem;
  text-align: left;
}

.image{
  margin-block: -5rem .8rem;
  margin-left: 2rem;
  padding: 2px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
}
.name{
  margin-bottom: .2rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.city-country{
  margin-bottom: .2rem;
  font-weight: 500;
  color: rgb(71, 71, 71);
  text-transform: capitalize;
}

.username {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.74);
}

.nav-container {
  display: flex;
  justify-content: space-around;
  background-color: #e7eff3;
}

.nav-btns{
  margin:1rem ;
  padding-bottom: .3rem;
  background-color: inherit;
  border-color: transparent;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.329);
}

.nav-btns:hover{
  color: black;
}

.icons {
  font-size: 2rem;
  color: inherit;
}

.active {
  color: rgb(0, 0, 0);
  border-bottom: 3px solid black;
}

.details {
  min-height: 30vh;
  text-align: left;
  margin: 2rem;
}

.heading {
  width: fit-content;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
}

.content{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 1rem;
  column-gap: 2rem;
}

.title{
  margin-top: 1rem;
  font-size: 1.1rem;
}

.value {
  font-size: 1.2rem;
  font-weight: 600;
}

.capitalize {
  text-transform: capitalize;
}

.refresh-btn {
  margin-top: 5rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #067a85;
  color: white;
  cursor: pointer;
}
.refresh-btn:hover {
  background-color: #07a6b4;

}
.loading-image{
  width: 80%;
}
.error-message {
  color: rgb(255, 81, 81);
  font-size: 1.2rem;
  font-weight: 500;
}


@media screen and (max-width: 1000px) {
  .refresh-btn {
    margin-top: 2rem;
  }

  .App{
    width: 90%;
  }

  .content{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    row-gap: 1rem;
    column-gap: 2rem;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 550px) {
  .refresh-btn {
    margin-top: 1rem;
  }
  .icons {
    font-size: 1.5rem;
    color: inherit;
  }
  .title{
    margin-top: 1rem;
    font-size: 1rem;
  }
  
  .value {
    font-size: 16px;
    font-weight: 600;
  }
}